/* Meta description */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 99vh;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #000;
  margin: 5px 10px;
}

header ul {
  display: flex;
  list-style-type: none;
}

header > ul > li {
  padding: 10px 25px;
  border-right: 2px solid #000;
}

header > ul > li:last-child {
  border-right: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #000;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(93, 93, 169);
}

#books {
  padding-top: 5%;
  margin-bottom: 2%;
}
.contact-us h1,.add-books h1 , #books h1{
text-align: center;
font-size: 40px;
font-weight: 700;
margin-bottom: 3%;
}
#book-list li {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#book-list li:nth-child(odd) {
  background-color: #dbd7d7;
}

#book-list li > p {
  padding-bottom: 5px;
}

#book-list {
  list-style: none;

  border: 2px solid black;
  width: 98%;
  height: max-content;
  margin: auto;
}


.remove-btn {
  border: 2px solid black;
  padding: 5px 5px;
  display: block;
  cursor: pointer;
}
#add-books{
  margin-left: 25%;
  margin-right: 20%;
}
form {
  text-align: right;
  width: 80%;

}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

input {
  padding: 10px;
  width: 100%;
  height: 45px;
  border: 2px solid black;
}

#addBtn {
  margin-top: 15px;
  background-color: #fff;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
}

.contact-us p{
  text-align: center;
  font-size: 22px;
  
}

.contact-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 30%;
  margin-right: 20%;
  width: 60%;
  margin-top: 3%;
  font-size: 22px;
  
 
}
.contact-list li:before {
  content:"• ";
  }

.footer{
  height: 10%;
  width: 96%;
  padding: 15px;
  border: 2px solid black;
  margin: 2%;
}