/* Meta description */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 99vh;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #000;
  margin: 5px 10px;
}

header ul {
  display: flex;
  list-style-type: none;
}

header > ul > li {
  padding: 10px 25px;
  border-right: 2px solid #000;
}

header > ul > li:last-child {
  border-right: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #000;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(93, 93, 169);
}

#book-list li {
  padding: 20px;
  display: flex;
  align-items: center;
}

#book-list li:nth-child(odd) {
  background-color: #dbd7d7;
}

#book-list li > p {
  padding-bottom: 5px;
}

#book-list {
  list-style: none;
  margin-bottom: 20px;
  border: 2px solid black;
  width: 400px;
  height: max-content;
}

.remove-btn {
  border: 2px solid black;
  padding: 5px 5px;
  display: block;
  cursor: pointer;
}

form {
  text-align: right;
  width: 400px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  padding: 5px;
  width: 100%;
}

#addBtn {
  margin-top: 15px;
  background-color: #fff;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
}
